In [1]:
import pandas as pd
df = pd.read_csv(r"F:\w\resume\strategic app\New folder\yellow_tripdata_2016-03.csv")
df.shape

(1048575, 19)

In [2]:
def filter_nyc_bounds(df):
    # NYC approximate boundaries
    nyc_min_lon, nyc_max_lon = -74.25, -73.70  
    nyc_min_lat, nyc_max_lat = 40.50, 41.1  

    
    
    constraint = (
        df['pickup_longitude'].between(nyc_min_lon, nyc_max_lon) &
        df['pickup_latitude'].between(nyc_min_lat, nyc_max_lat) &
        df['dropoff_longitude'].between(nyc_min_lon, nyc_max_lon) &
        df['dropoff_latitude'].between(nyc_min_lat, nyc_max_lat)
                  )
    return df[constraint]

df_clean = filter_nyc_bounds(df)
print(f"Removed {len(df) - len(df_clean)} outlier rows")

Removed 16751 outlier rows

In [3]:
# filtering trip_distance

df = df_clean[df_clean['trip_distance'].between(0.01,100)]
df.shape

(1028201, 19)

In [4]:
# dropping same duplicate trips

df = df.drop_duplicates(
    subset=['tpep_pickup_datetime', 'pickup_longitude', 'pickup_latitude'],
    keep='first' )

In [5]:
df = df[df['passenger_count'].between(1, 6)]

In [6]:
# filling empty amounts 

df['fare_amount'] = df['fare_amount'].fillna(df['fare_amount'].median())
df['total_amount'] = df['total_amount'].fillna(df['total_amount'].median())

In [7]:
# dropping unknown coordinates

df = df.dropna(subset=['pickup_longitude', 'pickup_latitude'])
df = df.dropna(subset=['dropoff_longitude', 'dropoff_latitude'])

In [8]:
df.to_csv(r"F:\w\resume\strategic app\New folder\nyc_taxi_clean.csv")
print('Done!')

Done!

In [34]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,3/1/2016 0:00,3/1/2016 0:07,1,2.50,-73.976746,40.765152,1,N,-74.004265,40.746128,1,9.0,0.5,0.5,2.05,0.00,0.3,12.35
1,1,3/1/2016 0:00,3/1/2016 0:11,1,2.90,-73.983482,40.767925,1,N,-74.005943,40.733166,1,11.0,0.5,0.5,3.05,0.00,0.3,15.35
2,2,3/1/2016 0:00,3/1/2016 0:31,2,19.98,-73.782021,40.644810,1,N,-73.974541,40.675770,1,54.5,0.5,0.5,8.00,0.00,0.3,63.80
3,2,3/1/2016 0:00,3/1/2016 0:00,3,10.78,-73.863419,40.769814,1,N,-73.969650,40.757767,1,31.5,0.0,0.5,3.78,5.54,0.3,41.62
4,2,3/1/2016 0:00,3/1/2016 0:00,5,30.43,-73.971741,40.792183,3,N,-74.177170,40.695053,1,98.0,0.0,0.0,0.00,15.50,0.3,113.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048569,2,3/3/2016 12:33,3/3/2016 12:43,1,1.14,-73.979462,40.756241,1,N,-73.992363,40.749290,2,8.0,0.0,0.5,0.00,0.00,0.3,8.80
1048571,2,3/3/2016 12:33,3/3/2016 12:43,1,0.79,-73.979561,40.764042,1,N,-73.981857,40.772671,1,7.5,0.0,0.5,1.66,0.00,0.3,9.96
1048572,1,3/3/2016 12:33,3/3/2016 13:07,2,10.50,-74.008163,40.738705,1,N,-73.872040,40.774483,1,34.5,0.0,0.5,8.16,5.54,0.3,49.00
1048573,1,3/3/2016 12:33,3/3/2016 13:03,1,2.40,-73.971970,40.765911,1,N,-73.970856,40.785679,1,18.5,0.0,0.5,3.85,0.00,0.3,23.15
1048574,1,3/3/2016 12:33,3/3/2016 13:06,1,11.10,-73.985596,40.759277,1,N,-73.885460,40.773205,1,35.0,0.0,0.5,10.30,5.54,0.3,51.64